<div class="container">
    <h2>Search for a Github User</h2>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="username" placeholder="Enter username" name="username">
      </div>
      <button type="button" class="btn btn-primary" (click)="searchUser()">Search</button>
    </form>
    <hr>
    <div *ngIf="user">
      <ul>
        <li *ngFor="let user of user">
          <h4><a [routerLink]="['/user', user.login]">{{ user.login }}</a></h4>
        </li>
      </ul>
    </div>    
  </div>
  